body {
  background-color: blue;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*FONT SECTION*/
p {
  font-family: "komet", sans-serif;
font-weight: 400;
font-style: normal;
}

h1 {
  font-family: "rig-sans", sans-serif;
font-weight: 700;
font-style: normal;
}

.navbar {
  background-color: #fde5e5;
}
.hero {
  background: url("/imgs/bg.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features, .cards-row, .shelter, .accomplishments {
  padding: 60px 20px;
}
.feature-box, .card, .accomp-item {
  background: #fde5e5;
  border: 2px double #fff6d2;
  border-radius: 10px;
  padding: 20px;
  color: white;
}



