body {
  background-color: rgba(70, 67, 66, 0.977);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*FONT SECTION*/
p {
  font-family: "komet", sans-serif;
font-weight: 400;
font-style: normal;
}

h1, h2 {
  font-family: "fenwick", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-family: "niveau-grotesk", sans-serif;
font-weight: 700;
font-style: normal;
}

/*fonts finish */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 1000;
  background-color: transparent;
  font-family: "niveau-grotesk", sans-serif;
font-weight: 700;
font-style: normal;
}

.navbar.scrolled {
  background-color: 313131;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  color:white;
  font-size: 28px;
  font-family: "niveau-grotesk", sans-serif;
font-weight: 700;
font-style: normal;
}

.nav-link {
  color:white;
  font-weight: 500;
}

.navbar-logo {
  height: 20px; 
  width: auto;
  max-height: 100%;
}


/*hero section and sizing */
.hero {
  position: relative;
  height: 450px;
  background: url('/imgs/hero.png') center center / cover no-repeat;
  display: flex;
  align-items: center;
  color: black;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.hero-title {
  font-size: 50px;
  font-family: 'komet', serif;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 40px;
  font-family: 'komet', sans-serif;
  margin-bottom: 1.5rem;
}

.slide-in-top{animation:slide-in-top 1.5s cubic-bezier(.25,.46,.45,.94)}
 @keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}

 .puff-in-center{animation:puff-in-center 1s cubic-bezier(.47,0.000,.745,.715) 1.5s both}
@keyframes puff-in-center{0%{transform:scale(2);filter:blur(4px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}

.cards-row, .features, .shelter, .accomplishments {
  padding: 60px 20px;
}

.feature-box, .card, .accomp-item {
  background: #757575;
  border: 2px double #313131;
  border-radius: 10px;
  padding: 20px;
  color: #000;
}
.video {
  background: #000000;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}




